/addition.class
/areaofatriangle.class
/areaofrectangle.class
/asciivalue.class
/casting.class
/dowhile.class
/floytriangle.class
/javanestedloop.class
/largestnumber.class
/multiplytwonumber.class
/nest.class
/oddoreven.class
/oddoreven2.class
/printAnumber.class
/pyramid.class
/pyramidreverse.class
/quotientandremainder.class
/sumofarrayvalues.class
/swaptwonumber.class
/switchcase.class
/userinputtingarraysystem.class
/vowel.class
/whileloopdemonstration.class
